<div class="barContainer">
    <div class="barFrame"></div>
    <div
        class="bar"
        style="width: @percent + '%';"
    ></div>
</div>
<div class="textContainer">
    <span>experience</span>
    <span>100</span>
</div>
@code {
    public int percent = 60;
}