<style>
    a {
        color: inherit;
        text-decoration: none;
    }

    .navItem span {
        font-size: 48px;
    }

    .active span {
        text-decoration: underline #565353;
    }

    span:hover {
        text-decoration: underline #0b0b0b;
    }
</style>

<nav>
    <a
        href="feed"
        class="navItem active"
    ><span class="material-symbols-outlined">home</span></a>
    <a
        href="leaderboard"
        class="navItem"
    ><span class="material-symbols-outlined">trophy</span></a>
    <a
        href="addPost"
        class="navItem"
    ><span class="material-symbols-outlined">add_box</span></a>
    <a
        href="notifications"
        class="navItem"
    ><span class="material-symbols-outlined">notifications</span></a>
    <a
        href="profile"
        class="navItem"
    >Profil</a>
</nav>

@code {

}