/* _content/webApiTutorial/Components/ExpBar.razor.rz.scp.css */
/* _content/webApiTutorial/Components/FeedHeader.razor.rz.scp.css */
/* _content/webApiTutorial/Components/FooterNav.razor.rz.scp.css */
.nav-link.active[b-48dn8sze77] {
    color: red;
    font-weight: bold;
}
/* _content/webApiTutorial/Pages/AddPost.razor.rz.scp.css */
.buttonContainer[b-99o48sq2l7] {
    display: flex;
    align-items: center;
    gap: 2%;
}

.buttonLabel[b-99o48sq2l7] {
    font-size: 28px;
}

.inputContainer[b-99o48sq2l7] {
    margin: 10%;
    padding: 5%;
}

.buttonBig[b-99o48sq2l7] {
    background-color: #8e8ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.7em;
    width: 10rem;
    height: 3rem;
}

.buttonSwitch[b-99o48sq2l7] {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.7em;
    width: 5rem;
    height: 3rem;
    background-color: #f6f6f6;
    color: #000;
}

.buttonActive[b-99o48sq2l7] {
    background-color: #8e8ae5;
    color: #dcdcf7;
}

img[b-99o48sq2l7] {
    width: 40%;
    height: 40%;
    border-radius: 0.7em;
}

.newPostContainer[b-99o48sq2l7] {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
/* _content/webApiTutorial/Shared/MainLayout.razor.rz.scp.css */
:root[b-yzyenqvddn] {
    --textColor: #dcdcf7;
    --backgroundColor: #dcdcf7;
    --primaryColor: #8e8ae5;
    --secondaryColor: #641c80;
    --accentColor: #cd56d9;
}

.page[b-yzyenqvddn] {
    position: relative;
    display: flex;
    flex-direction: column;
}



main[b-yzyenqvddn] {
    width: 100vw;
    height: 1000px;
    flex: 1;
    background-color: #1e1e2e;
    color: #dcdcf7;
    font-family: "Josefin Sans", sans-serif;
}

h1[b-yzyenqvddn] {
    font-family: "Kanit", sans-serif;
}
