@using webApiTutorial.Components
@page "/feed"

<PageTitle>Feed</PageTitle>

<FeedHeader />
<p>@message</p>

@code {
    private string message =
    "Hello from a Razor component and welcome to Blazor!";
}