@layout AppLayout;
@page "/leaderboard"

<PageTitle>Feed</PageTitle>

<h1>leaderboard!</h1>

<p>@message</p>

@code {
    private string message =
    "Hello from a Razor component and welcome to Blazor!";
}