@layout AppLayout;
@page "/notifications"

<PageTitle>notifications</PageTitle>

<h1>notifications</h1>

<p>@message</p>

@code {
    private string message =
    "Hello from a Razor component and welcome to Blazor!";
}