:root {
    --textColor: #dcdcf7;
    --backgroundColor: #dcdcf7;
    --primaryColor: #8e8ae5;
    --secondaryColor: #641c80;
    --accentColor: #cd56d9;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}



main {
    width: 100vw;
    height: 1000px;
    flex: 1;
    background-color: #1e1e2e;
    color: #dcdcf7;
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    font-family: "Kanit", sans-serif;
}