@using webApiTutorial.Components
@inherits LayoutComponentBase

<PageTitle>PetPurrsuit</PageTitle>
<main>
    <header>
        <h1>PetPurrsuit</h1>
    </header>

    @Body

    <footer>
        <FooterNav />
    </footer>
</main>
